.content_box {
    width: 80%;
    margin: 10% auto;
    background-color: #ffffff;

    .search_box {
        width: 100%;

        .search_itme {
            width: 100%;
            padding: 20px;
            box-sizing: border-box;
            position: relative;

            span {
                position: absolute;
                top: 32px;
                left: 22px;
                z-index: 998;
            }

            input {
                font-size: 20px;
                line-height: 32px;
                border: none;
                outline: none;
                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                width: 100%;
                padding: 8px;
                z-index: 999;
                box-sizing: border-box;
                background-color: rgba(0, 0, 0, 0);
            }
        }
    }
}