.search_box {
    position: relative;
    height: 77px;

    .search_content_box {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;

        .search_itme {
            width: 100%;
            padding: 20px 20px 16px 20px;
            background-color: rgba(255, 255, 255, 0.4);
            box-sizing: border-box;
            border-radius: 40px;
            box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.03);
            position: relative;
            // transition: 200ms;

            .search_click {
                position: absolute;
                left: 0px;
                top: 16px;
                z-index: 999;
                display: block;
                width: 100%;
                padding: 0 24px 0 40px;
                box-sizing: border-box;
                color: rgba(0, 0, 0, 0.4);

                i {
                    font-size: 28px;
                    float: left;
                    margin: 8px 8px 0 0;
                }

                span {
                    line-height: 48px;
                    float: left;
                    font-size: 16px;
                }
            }

            .search_input {
                font-size: 20px;
                line-height: 32px;
                border: none;
                outline: none;
                // border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                width: 100%;
                padding: 4px 8px;
                box-sizing: border-box;
                background-color: rgba(0, 0, 0, 0);
            }

            .search_line {
                height: 1px;
                background-color: red;
                width: 0;
            }

            .info_content {
                font-size: 20px;
                color: rgba(0, 0, 0, 0.6);
                text-align: center;
            }
        }
    }
}

.item_box {
    display: flex;
    padding: 0 12px;
    margin-top: 24px;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 8px;

    .item_block {
        width: 17.6%;
        margin-bottom: 12px;
        background-color: #ffffff;
        border-radius: 4px;
        padding: 12px;

        h1 {
            font-size: 18px;
            color: rgba(0, 0, 0, 0.8);
        }

        span {
            color: rgba(0, 0, 0, 0.6);
        }
    }
}

.item_info_box {
    width: 80%;
    margin: 12px auto 0;
    background-color: #ffffff;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 4px;
}