$theme_colo_1:rgb(250 62 66);

.sidebar_box {
    z-index: 1;
    position: relative;

    .sidebar_box_normal {
        display: flex;
        min-width: 200px;
        flex-direction: column;
        background-color: #fff;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
        height: 100%;

        .sidebar_logo {
            display: flex;
            justify-content: center;
            padding: 24px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);

            .logo {
                height: 32px;
                width: 125px;
                background: url(https://sf6-scmcdn-tos.pstatp.com/obj/goofy/xigua_fe/xigua_video_web_pc/static/media/sprite.581f3d54.svg) no-repeat 0 0;
            }

            >span {
                margin-left: 12px;
                font-size: 24px;
                color: #fff;
                font-weight: bold;
            }
        }

        .sidebar_list {
            display: flex;
            flex-direction: column;

            .sidebar_itme {
                color: rgba(0, 0, 0, 0.8);
                padding: 16px 24px;
                font-size: 16px;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .sidebar_list_text {
                    margin-left: 12px;
                    line-height: 24px;
                }

                .sidebar_list_icon {
                    font-size: 20px;
                }

            }

            .active {
                color: $theme_colo_1;
                background: #f2f2f2;
            }

            .list_line_box {
                height: 2px;
                width: 100%;
                margin-bottom: 16px;

                .list_line {
                    height: 2px;
                    background-color: $theme_colo_1;
                }
            }
        }

        .sidebar_control {
            cursor: pointer;
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 12px;
            box-sizing: border-box;
            text-align: center;
            width: 100%;
            color: rgba(0, 0, 0, 0.6);
            font-size: 20px;
            border-top: 1px solid rgba(0, 0, 0, 0.05);
        }
    }

    .sidebar_box_minibar {
        cursor: pointer;
        color: $theme_colo_1;
        padding: 8px;
        font-size: 20px;
        background-color: #fff;
        border-radius: 0 4px 4px 0;
    }

}


/* 线条动画 */
.list_line-enter {
    width: 0;
}

.list_line-enter-active {
    width: 100%;
    transition: 300ms;
}

.list_line-exit {
    width: 100%;
}

.list_line-exit-active {
    width: 0;
    transition: 300ms;
}



/* normalbar 动画参数 */
.sidebar_normal-enter {
    position: absolute;
    left: -300px;
    top: 0;
    z-index: 0;
}

.sidebar_normal-enter-active {
    position: absolute;
    left: 0px;
    top: 0;
    z-index: 0;
    transition: 300ms;
}

.sidebar_normal-exit {
    position: absolute;
    left: 0px;
    top: 0;

}

.sidebar_normal-exit-active {
    position: absolute;
    left: -300px;
    top: 0;
    transition: 300ms;
}


/* minibar 动画参数 */
.sidebar_mini-enter {
    position: absolute;
    left: -100px;
    top: 0;
    z-index: 1;
}

.sidebar_mini-enter-active {
    position: absolute;
    left: 0px;
    top: 0;
    z-index: 1;
    transition: 100ms;
}

.sidebar_mini-exit {
    position: absolute;
    left: 0px;
    top: 0;

}

.sidebar_mini-exit-active {
    position: absolute;
    left: -100px;
    top: 0;
    transition: 100ms;
}