.navbarBox {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;

    .navbarBox_logo {
        position: relative;
        width: 52px;
        height: 48px;

        img {
            width: 24px;
            height: 24px;
            position: absolute;
            top: calc(50% - 12px);
            left: calc(50% - 12px);
        }
    }

    .navbar {
        display: flex;
        font-size: 18px;
        font-weight: bold;
        width: calc(100% - 52px);
        max-width: 400px;

        li {
            color: #fff;
            text-align: center;
            line-height: 48px;
            width: 25%;
        }

    }

    .selected {
        color: yellow !important;
    }
}