.navbarBox {
    background-color: rgba(0, 0, 0, 0.4);

    .navbarBox_logo {
        position: relative;
        width: 52px;
        height: 48px;

        img {
            width: 24px;
            height: 24px;
            position: absolute;
            top: calc(50% - 12px);
            left: calc(50% - 12px);
        }
    }

    .navbar {
        display: flex;
        font-size: 18px;
        font-weight: bold;

        li {
            line-height: 48px;
            width: 25%;
        }

        a {
            color: #fff;
            text-align: center;
            text-decoration: none;
            display: block;
        }

    }

    .active {
        color: yellow !important;
    }
}