body {
    padding: 0;
    margin: 0;
    font-family: '微软雅黑';
    font-size: 12px;
    background: #f2f2f2 !important;
}

ul,
ol {
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
}

.icon {
    width: 26px;
    height: 26px;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}