$theme_colo_1:#fa3e42;
$theme_colo_2:#ff0018;

.mybutton {
    margin-top: 40px;

    .big_btn {
        cursor: pointer;
        display: block;
        width: 100%;
        height: 48px;
        background-color: $theme_colo_1;
        border-radius: 4px;
        color: #fff;
        outline: none;
        border: none;

        font: {
            size: 20px;
        }
    }

    .big_btn:hover {
        background-color: $theme_colo_2;
    }
}