.sidebar_box {
    z-index: 1;
    position: relative;

    .sidebar_box_normal {
        display: flex;
        min-width: 240px;
        flex-direction: column;
        background-color: darkslategray;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        height: 100%;

        .sidebar_logo {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 24px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);

            .logo {
                height: 40px;
            }

            >span {
                margin-left: 12px;
                font-size: 24px;
                color: #fff;
                font-weight: bold;
            }
        }

        .sidebar_list {
            display: flex;
            flex-direction: column;

            li {
                color: #fff;
                padding: 16px 24px;
                margin: 12px 0;
                font-size: 16px;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .sidebar_list_text {
                    margin-left: 12px;
                }
            }

            .item_selected {
                background: #f2f2f2;
                color: rgba(0, 0, 0, 0.8);
            }
        }

        .sidebar_control {
            cursor: pointer;
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 12px;
            box-sizing: border-box;
            text-align: center;
            width: 100%;
            color: #fff;
            font-size: 20px;
            border-top: 1px solid rgba(0, 0, 0, 0.2);
        }
    }

    .sidebar_box_minibar {
        cursor: pointer;
        color: #fff;
        padding: 8px;
        font-size: 20px;
        background-color: darkslategray;
        border-radius: 0 4px 4px 0;
    }

}

/* normalbar 动画参数 */
.sidebar_normal-enter {
    position: absolute;
    left: -300px;
    top: 0;
    z-index: 0;
}

.sidebar_normal-enter-active {
    position: absolute;
    left: 0px;
    top: 0;
    z-index: 0;
    transition: 300ms;
}

.sidebar_normal-exit {
    position: absolute;
    left: 0px;
    top: 0;

}

.sidebar_normal-exit-active {
    position: absolute;
    left: -300px;
    top: 0;
    transition: 300ms;
}


/* minibar 动画参数 */
.sidebar_mini-enter {
    position: absolute;
    left: -100px;
    top: 0;
    z-index: 1;
}

.sidebar_mini-enter-active {
    position: absolute;
    left: 0px;
    top: 0;
    z-index: 1;
    transition: 100ms;
}

.sidebar_mini-exit {
    position: absolute;
    left: 0px;
    top: 0;

}

.sidebar_mini-exit-active {
    position: absolute;
    left: -100px;
    top: 0;
    transition: 100ms;
}